.alert.alert-danger.alert-dismissible.fade.show(role='alert') 
    | Message
    button(type="button", class="close", data-dismiss="alert", aria-lable="Close")
        span(aria-hidden="true") &times;
    